.Navbar {

    display: grid;
    grid-template-columns: 1fr $nav-height;
    align-items: center;
    padding-left: 1.5rem;
    color: color(font-dark);
    height: $nav-height;
    outline: 2px solid color(light-gray);

    background: {

        color: white;

    }

}

// @include medium {
//     .Navbar {
//         background-color: red;
//     }
// }

.Navbar__container {
    display: flex;
}

.Navbar__brand {

    // display: block;
    text-decoration: none;
    display: flex;
    // outline: 1px solid red;

}

.Navbar__logo {
    
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;

    background: {

        image: url(/img/logo.png);
        size: cover;

    }

}

.Navbar__item {
    padding: 1rem 2rem;
}

.Navbar__title {

    margin: 0;
    max-height: 2.8rem;
    color: color(accent);
    padding: .6rem 1rem;
    border: 1.1px solid color(accent);
    border-radius: .3rem;

    font: {

        weight: normal;
        size: 1rem;

    }

}

.Navbar__burger {
    // all: unset;
    // grid-column: -1 / -2;
    // grid-row: -1 / -2;
    display: none;
    height: 100%;
    position: relative;

    .Navbar__burger_icon {
        content: '';
        position: absolute;
        // left: 1rem;
        // right: 1rem;
        left: 0;
        right: 0;
        border: 1px solid black;
    }
}